{% extends "base.html" %}
{% block content %}

<div class="site-header-logo">
    <h1 class="text-center">
        Dashboard page
   </h1>
</div>

<div class="row p-4">
    <div class="card m-auto" style="width: 90%;">
        <div class="card-body">
            <div id = "figure1"></div>
           
        </div>
    </div>
    
    <div class="card m-auto" style="width: 90%;">
        <div class="card-body">
            <div id = "figure2"></div>
           
        </div>
    </div>
    <div class="card m-auto" style="width: 90%;">
        <div class="card-body">
            <div id = "figure3"></div>
           
        </div>
    </div>
    <div class="card m-auto" style="width: 90%;">
        <div class="card-body">
            <div id = "figure4"></div>
           
        </div>
    </div>
</div>


<!--plotly CDN-->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
     var graph1 = {{graph1JSON | safe}};
     Plotly.plot("figure1", graph1, {})

     var graph2 = {{graph2JSON | safe}};
     Plotly.plot("figure2", graph2, {})

     var graph3 = {{graph3JSON | safe}};
     Plotly.plot("figure3", graph3, {})

     var graph4 = {{graph4JSON | safe}};
     Plotly.plot("figure4", graph4, {})
 </script>



{% endblock %}